.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .2rem;
}

.info {
  padding: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.controles {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.info > p {
  font-size: 2rem;
}